/* メインビジュアル */
#toppMainVisual{
    margin-bottom: 30px;
    width: 80%;
    height: auto;
}
h1{
    text-align: center;
    font-size: 180%;
  }
h2{
    text-align: center;
    font-size: 150%;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.container li{
    list-style-type: none;
  }
.container .news{
    text-align: center;
    text-decoration: none;
}



/* 画像 */
.gazou{
    text-align: center;
}
.profile-gazou{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.mypage-gazou{
    width: 450px;
    height: 270px;
}
.ga{
    border-radius: 5%;
}



/* スライダーのボタン */
.slick-dots {
    bottom: 15px;
}
.slick-dots li button:before{
    font-size: 13px;
    color: #dbbc90;
    opacity: 1;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}